# PostgreSQL Database Connection URL (Supabase / Prisma Postgres)
DATABASE_URL="postgresql://postgres.dodsplvlqjyjvsizapqs:sadyaatra_Web11@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Groq API Key (Primary AI engine for Sadyaatra companion)
GROQ_API_KEY="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"

# Application Server Port
PORT=3000
